html {
    background-color: rgb(0, 85, 0);
}

#logo{
    width: 250px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -125px 0 0 -125px;
    opacity: 0.4;
}

#cards{
    border: 8px solid white;
    background-color: rgb(0, 63, 0);
    border-radius: 10px;
    position: absolute;
    top: 65%;
    left: 20%;
    width: 60%;
    height: 25%;
}

#io{
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    width: 30%;
    height: 15%;
    top: 35%;
    left: 65%;
}

#io div{
    margin-bottom: 2rem;
}

#house{
    background-color: rgb(0, 63, 0);
    border: 8px solid white;
    border-radius: 10px;
    position: absolute;
    left: 30%;
    top: 5%;
    width: 35%;
    height: 25%;
}

#betArea{
    background-color: rgb(0, 63, 0);
    text-align: center;
    border-radius: 8px;
    position: absolute;
    width: 20%;
    height: 20%;
    top: 40%;
    left: 15%;


}

#betArea span{
    display: block;
}

#scoreArea{
    background-color: rgb(0, 63, 0);
    text-align: center;
    border-radius: 8px;
    position: absolute;
    width: 10%;
    height: 10%;
    top: 70%;
    left: 5%;
}

#stash{
    background-color: rgb(0, 63, 0);
    text-align: center;
    border-radius: 8px;
    position: absolute;
    width: 10%;
    height: 25%;
    left: 85%;
    top: 65%;

}

#stash span{
    display: block;
    color: white;
}

.stashValue{
    font-size: 2rem;
}

#score{
    font-size: 3rem;
    color: white;
}

#bettingLabel{
    font-size: 2rem;
}

#liveBetTracker{
    position: absolute;
    top: 80%;
    left: 40%;
}


#houseMoney{
    background-color: rgb(0, 63, 0);
    text-align: center;
    border-radius: 8px;
    position: absolute;
    width: 10%;
    height: 25%;
    left: 70%;
    top: 5%;
}

#houseMoney span{
    display: block;
    color: white;
    font-size: 2rem;
}

#housePoints{
    background-color: rgb(0, 63, 0);
    text-align: center;
    border-radius: 8px;
    position: absolute;
    width: 10%;
    height: 10%;
    left: 15%;
    top: 5%;
}

#housePointsValue{
    color: white;
    font-size: 3rem;
}

#resultArea{
    background-color: rgb(0, 63, 0);
    text-align: center;
    border-radius: 8px;
    position: absolute;
    width: 50%;
    height: 5%;
    left: 25%;
    top: 93%;
}

#resultArea span{
    color: white;
    font-size: 2rem;
}


#gameButtons button{
    font-size: 1.5rem;
    border-radius: 5px;
}

#startGame{
    background-color: royalblue;
    color: white;
}

#startGame:hover{
    cursor: pointer;
}

#startGame:disabled{
    background-color: rgb(199, 199, 199);
    cursor: default;
}



#nextHand{
    background-color: rgb(255, 182, 46);
    color: white;
}

#nextHand:disabled{
    background-color: rgb(199, 199, 199);
}

#reset {
    background-color: red;
    color: white;
}

#reset:disabled{
    background-color: rgb(199, 199, 199);
}


.turnButtons{
    font-size: 1.2rem;
    background-color: rgb(78, 78, 78);
    color: white;
}

.turnButtons:disabled{
    background-color: rgb(199, 199, 199);
}

#moneyInput input{
    font-size: 1.5rem;
}

#moneyInput button{
    font-size: 1.5rem;
    background-color: rgb(78, 78, 78);
    color: white;
}

#moneyInput button:disabled{
    background-color: rgb(199, 199, 199);
}

ul{
    list-style: none;
}

.card{
    background-color: white;
    border-radius: 5px;
    position: absolute;
    width: 10%;
    height: auto;

}

.card1{
    left: 2%;
    top: 10%;
}

.card2{
    left: 14%;
    top: 10%;
}

.card3{
    left: 26%;
    top: 10%;
}

.card4{
    left: 38%;
    top: 10%;
}

.card5{
    left: 50%;
    top: 10%;
}

.card6{
    left: 62%;
    top: 10%;
}

.card7{
    left: 74%;
    top: 10%;
}

.coinStack{
    position: absolute;
    width: 30%;
    height: auto;
}

.coinStack1{
    top: 30%;
    left: 2%;
}

.coinStack2{
    top: 30%;
    left: 35%;
}

.coinStack3{
    top: 30%;
    left: 70%;
}

.houseCard{
    background-color: white;
    border-radius: 5px;
    position: absolute;
    width: 22%;
    height: auto;
}

.houseCard1{
    left: 1%;
    top: 5%;
}

.houseCard2{
    left: 24%;
    top: 5%;
}

.houseCard3{
    left: 47%;
    top: 5%;
}

.houseCard4{
    left: 70%;
    top: 5%;
}

.houseCard5{
    left: 100%;
    top: 5%;
}